menu "System Power Management"

    config SYSTEM_PM_STANDBY_TASK_STACK
        int "Standby task stack size (bytes)"
        range 2048 16384
        default 4096
        help
            Stack size for the system_pm standby FreeRTOS task.

    config SYSTEM_PM_STANDBY_TASK_PRIO
        int "Standby task priority"
        range 1 24
        default 5
        help
            FreeRTOS priority for the system_pm standby task.

endmenu
